[project]
	description = ???????
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AcoyChen
[access "refs/for/refs/*"]
	read = group user/AcoyChen
	push = group user/AcoyChen
	label-Code-Review = -2..+2 group user/AcoyChen
	label-Verified = -1..+1 group user/AcoyChen
	rebase = group user/AcoyChen
	removeReviewer = group user/AcoyChen
	submit = group user/AcoyChen
[access "refs/heads/*"]
	read = group user/AcoyChen
	create = group user/AcoyChen
	push = +force group user/AcoyChen
	pushMerge = group user/AcoyChen
[access "refs/tags/*"]
	push = group user/AcoyChen
	push = +force group user/AcoyChen
